<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="lib/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 
    <title>Matreoshki</title>
  </head>

  <body>
      <h1 class="matreoshki-title">Russian Nesting Dolls*</h1>
      <div class="main">
      <div id="dolls-list" v-cloak>
        <table class="list-container">
          <colgroup>
            <col class="w">
            <col>
            <col>
            <col>
            <!--<col>-->
            <col class="w">
          </colgroup>
          <thead class="list-head">
            <th class="image">Photo</th>
            <th class="name">Name</th>
            <th class="acquired">Date</th>
            <th class="count">Number
            </th>
            <!--<th class="isArtisan">Artisan</th>-->
            <th class="description">Description</th>
            <th class="action">Action</th>
          </thead>
          <tbody>
            <tr v-for="(doll, index) in dolls" v-bind:class="{
              even: (index + 1) % 2 === 0, 
              odd: (index + 1) % 2 !==0,
              pretty: doll.isArtisan===true}">
            <td class="cell"><img v-bind:src="doll.image" class="photo"></td>
            <td class="cell">{{doll.name}}</td>
            <td class="cell">{{doll.acquired}}</td>
            <td class="cell">{{doll.count}}</td>
            <!--<td class="cell">{{doll.isArtisan}}</td>-->
            <td class="cell__description">{{doll.description}}</td>
            <td><button type ="button" v-on:click="deleteDoll(doll)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <p>*Dolls listed in italics are considered "pretty" by the collector. </p>
    <form v-on:submit.prevent="addDoll">
      <fieldset>
        <legend>Add a doll</legend>
        <div class="form-group">
          <label>Photo<input v-model="imageInput" type="text"></label>
        </div>
        <div class="form-group">
          <label>Acquired<input v-model="acquiredInput" type="date"></label>
        </div>
        <div class="form-group">
          <label>Count<input v-model="countInput" type="text"></label>
        </div>
        <!--<div class="form-group">
          <label>Artisan</label>
          <input
            type="checkbox"
            v-model="isArtisanInput"
          />
        </div>-->
        <div class="form-group">
          <label>Description<input v-model="descriptionInput" type="text"></label>
        <div class="form-group">
          <label>ID <input v-model="idInput" type="text"></label>
        </div>
        <button type="submit">Add Doll</button>
      </fieldset>
    </form>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="lib/script.js"></script>
  </body>
</html>
