body {
    background: orange;
    margin: 0;
}

h1, h3 {
    padding: 100px;
    padding-bottom: 50px;
    color: navy;
    text-align: center;
}

p {
    padding: 100px;
    padding-bottom: 50px;
    color: navy;
    text-align: center;
}