html, body {
margin: 0;
  padding: 0;
  background: olivedrab;
  color: white; 
}
canvas {
  display: block;
}

h1 {
  padding-left: 175px;
  padding-top: 100px;
}

p {
  padding-top: 20px;
  padding-left: 100px;
  margin-right: clamp(400px, 50vw, 1200px);
  font-size: 1.5rem;
}
