html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
h1 {
  text-align: center;
}

html {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  background: #bacadb;
}

header {
  align-items: center;
  background: #bacadb;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display";
  font-size: 1.5rem;
  justify-content: center;
  padding: 25px;
  padding-bottom: 0;
}

.sound-wrapper {
  background: #bacadb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}
