<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="lib/portfolio.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 
    <title>Portfolio</title>
  </head>

  <body>

      <div id="items-list" class="main" v-cloak>
        <table class="items-container">
          <colgroup>
            <col class="w">
            <col>
            <col>
            <col>
            <col class="w">
          </colgroup>
          <thead class="list-head">
            <th class="image">Photo</th>
            <th class="title">Title</th>
            <th class="year">Year</th>
            <th class="format">Format
            </th>
            <th class="description">Description</th>
<!--             <th class="url">URL</th>
            <th class="action">Action</th> -->
          </thead>
          <tbody>
            <!--how do I style images here?-->
            <tr v-for="(item, index) in items" v-bind:class="{
              even: (index + 1) % 2 === 0, 
              odd: (index + 1) % 2 !==0}"
              is="portfolio-component"
              v-bind:image="item.image" 
              v-bind:title="item.title"
              v-bind:year="item.year"
              v-bind:format="item.format"
              v-bind:description="item.description"
              v-bind:url="item.url">
            </tr>
          </tbody>
        </table>

<!-- <form v-on:submit.prevent="addItem" class="new-item-form">
      <fieldset class="new-item-form">
        <legend>Add an Item</legend>
        <div class="new-item-form">
          <label class="new-item-form">Photo<input class="new-item-form" v-model="imageInput" type="text"></label>
        </div>
        <div class="new-item-form">
          <label class="new-item-form">Title<input class="new-item-form" v-model="titleInput" type="text"></label>
        </div>
        <div class="new-item-form">
          <label class="new-item-form">Year<input class="new-item-form" v-model="yearInput" type="text"></label>
        </div>
        <div class="new-item-form">
          <label class="new-item-form">Format<input class="new-item-form" v-model="formatInput" type="text"></label>
        </div>

        <div class="new-item-form">
          <label class="new-item-form">Description</label>

         <textarea id="description" class="new-item-form" v-model="descriptionInput"></textarea>
         </div>

       <div class="new-item-form">
          <label class="new-item-form">ID <input class="new-item-form" v-model="idInput" type="text"></label>
        </div>
        <button type="submit">New Item</button>
      </fieldset>
    </form> -->
  </div>
  <h1 class="portfolio-title">Portfolio</h1>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="lib/script.js"></script>
    </div>
  </body>
</html>
