<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="lib/transformviolence.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 
    <title>Portfolio</title>
  </head>


<!--I think need to be using v-bind here, but I'm not sure how. Goal is to to have items coming in at different angles (which I've done with the blog) so not a boring list.

Big Question 1: how do I properly set up the HTML file so that the components are properly rendered? (Last time I used a table, but the list seems  more appropriate here.)

Big Question 2: how do I put proper limits on the cells in the grid so that the items don't run into each other?

Can I check in with you again?

name, year, format, description-->

<!--   <blog-post
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:name="post.name"
    v-bind:year="post.year"
    v-bind:format="post.format"
    v-bind:description="post.description"
  ></blog-post> -->


<body>

<section id="app" v-cloak>
  <div v-for="post in posts">
    <blog-post
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:name="post.name"
    v-bind:year="post.year"
    v-bind:format="post.format"
    v-bind:description="post.description"
  ></blog-post> 
  </div>
</section>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="lib/script.js"></script>

</body>
</html>


<ul class="blog">
    <li>
        <h3>Things of Beauty</h3>
        <p>The genesis of my journey from college professor of International Relations to graduate student in art school begins with <a href="Things_of_Beauty.pdf">this essay</a>.</p>
    </li>
    <li>
        <h3>New Directions Grant Report</h3>
        <p><a href="Swords_into_Plowshares_New_Directions_In.pdf">This report</a> documents my initial experiments in an art studio and the implications for pedagogy and my developing interest in emotional cognition.</p>
    </li>
    <li>
        <h3>Art Transforming Violence</h3>
        <p><a href="https://www.fcnl.org/updates/a-friend-in-washington-explores-art-faith-and-advocacy-at-fcnl-1667">This interview</a> about my pop up show on Capitol Hill explains why I make art as a policy-relevant response to gun violence.</p>
    </li>
    <li>
        <img src="images/bullet_shells200x160.png" alt="*">
    </li>
    <li>
        <img src="images/bullet_shells200x160.png" alt="*">
    </li>
    <li>
        <img src="images/bullet_shells200x160.png" alt="*">
    </li> 

</ul>
<header class="nav-bar">
  <div class="container">
  <h1 class="site-name">Welling Hall: Portfolio</h1>
  <nav>
    <ul class="nav-list">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="sculpture.html">Sculpture</a></li>
      <li><a href=resources.html>Resources</a></li>
      <li><a href="https://www.google.com/"><i class="fas fa-search"></i></a></li>
    </ul>
  </nav>
</div>
  Copyright © 2020 · All Rights Reserved · Welling Hall 
</header>  

</body>
</html>