* {
    box-sizing: border-box;
  }

html {
    --teal-dark: #366273; 
    --teal-light: #5D91A6;
    --gray-dark: #293940;
    --gray-dove: #DFEDF2;
    --tan: #A69992;
    --font-sans-serif: 'News Cycle', sans-serif;
    --font-serif: 'Times New Roman', serif;
    --font-cursive: 'Oleo Script Swash Caps', cursive;;
  }

body {
    margin: 5rem;
    font-family: 'News Cycle', sans-serif;
    background: var(--tan);
    color: var(--gray-dark);
}

header {
    display: grid;
    color: var(--teal-dark);
}
  
.nav-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-name {
  color: var(--gray-dark);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-transform: uppercase;
}

.nav-list a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--gray-dove);
  padding: 1rem;
}

.nav-list a:active {
  color: var(--teal-dark);
}

.nav-list a:hover {
  color: var(--gray-dark);
}
  
  /*.nav-list .active {
    border-bottom: .25rem solid var(--orange);
  }*/

h2 {
  text-align: right;
}

h3 {
  margin: 0;
}

a {
  color: var(--teal-dark);
}

main {    
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 300px));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    font-size: 22px;
    color: #13264e;
}
  
ul {
  list-style-type: none;
  padding: 0;
}

img {
    max-width: 100%; /*image no bigger than container*/
    padding: 0;
    margin: 0;
  }
  
figure {
  position: relative;
  padding: 0;
}

figure img {
  display: block;
  width: 100%;
}


figcaption {
  background-color: hsla(282, 70%, 100%, 0.49);
  padding: 1em;
  width: 100%; 
  max-height: 100%;
  overflow: hidden;
}

.blog {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4, minmax(min-content, 300px));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.blog li {
    list-style-type: none;
}

.blog li:nth-child(1) {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    transform: rotate(15deg);
}

.blog li:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 / 1;
    transform: rotate(345deg);
}

.blog li:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 2 / 4;
    transform: rotate(45deg);
}

.blog li:nth-child(4) {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    transform: rotate(90deg);
}
.blog li:nth-child(5) {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    transform: rotate(300deg);
}

.blog li:nth-child(6) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.sculpture ul {
 padding: 0;
 list-style-type: none;
 display: grid;
 grid-template-columns: repeat(4, minmax(min-content, 300px));
 /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
 grid-template-rows: 1fr 1fr 1fr 1fr;
 font-size: 22px;

}
.sculpture li:nth-child(1) {
  grid-row: 1 / 2;
  grid-column-start: 1;
  grid-column-end: 5;
  transform: rotate(15deg);
}
.sculpture li:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  transform: rotateZ(30deg);
}

.sculpture li:nth-child(3) {
  grid-row: 3 / 4;
  grid-column: 3 / 5;
  transform: rotate(345deg);
}

.sculpture li:nth-child(4) {
  grid-row: 4 / 5;
  grid-column-start: 1;
  grid-column-end: 3;
  transform: rotate(10deg);
}


.main__artists {
  display: grid;
  grid-column: 1 / 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main__organizations {
  display: grid;
  grid-column: 2 / 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.main__study-guides {
  display: grid;
  grid-column: 4 / 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

