html {
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  background: gainsboro;
}

header {
  align-items: center;
  background: #bacadb;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display";
  font-size: 1.5rem;
  justify-content: center;
  padding: 25px;
  padding-bottom: 0;
}

/* The code for the matted image is inspired by http://thenewcode.com/721/Sophisticated-Image-Matting-Effects-With-CSS */
img.mat {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  display: block;
  margin: 2rem auto;
  padding: 5%;
  background: #f4f0ec;
  border: 8px ridge gold;
  box-shadow: 0 0 0 50px gainsboro inset;
}

.art-wrapper {
  background: #bacadb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.department {
  border: 4px ridge gold;
  background: gainsboro;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display";
  justify-content: space-between;
  margin: 15px;
  padding: 20px;
  text-align: center;
  width: 144px;
}
