<!DOCTYPE html>

<html>
  <head>
    <title>&#129433; Llamas</title>
    <link rel="stylesheet" href="lib/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="lib/script.js"></script>
  </head>

  <body>
<div class="sidenav">
  <a href="https://en.wikipedia.org/wiki/Llama">Llamas on  Wikipedia</a>
  <a href="https://en.wikipedia.org/wiki/Lama">Lamas on Wikipedia</a>
  <a href="https://www.vogue.com/article/cozy-up-in-these-21-dreamy-silk-pajamas">Silk Pajamas</a>
  <a href="https://poets.org/poet/ogden-nash">Poetry by Ogden Nash</a>
</div>

<h1 class="content">A Natural History of Llamas</h1>

<div class="content" id="facts">
  <p>{{fact1}}</p>
  <p>{{fact2}}</p>
  <p>{{fact3}}</p>
  <p>{{fact4}}</p>
  <p>{{fact5}}</p>
  <p>{{fact6}}</p>
  <p>{{fact7}}</p>
</div>

<div class="content" id="poetry">
  <h2 v-if="poetryIsAwesome==true">Facts 8-10: A Poem by Ogden Nash</h2>
  <h2 v-else>No poetry for you!</h2>
  <article v-if="poetryIsAwesome==true">
  <p>{{fact8}}</p>
  <p>{{fact9}}</p>
  <p>{{fact10}}</p>
  </article>
  <article v-else>
  <p>Harrumph!</p>
  </article>
</div>



  <!-- When I moved the script src to the head and did not keep a copy here, the page seemed to break? -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="lib/script.js"></script>
  </body>
</html>
