html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
}
canvas {
  display: block;
}
h1 {
  text-align: center;
  padding-top: 50px;
}
.text {
  padding: 50px;
}
.dolls {
  margin: 0, auto;
}
ul { list-style-type: none; }