body {
    background: #ccc;
    margin: 0;
}

h1 {
    padding: 100px;
    padding-bottom: 0px;
    color: black;
    text-align: center;
}

display grid {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}